body{
background-size:cover;
}
h3 {
font-size:25px;
}
canvas{
animation-name:ejemplo;
animation-duration:4s;
animation-iteration-count:infinite;
}
@keyframes ejemplo{
from{box-shadow:1px 1px 38px rgb(158, 4, 247);}
to{box-shadow:1px 1px 38px rgb(243, 180, 5);}
}